name: debugSolace
on: [ push ]
jobs:
  debug-solace:
   runs-on: ubuntu-latest
   steps:
     - name: Check out solace
       uses: actions/checkout@master
       with:
             repository:   SolaceLabs/solace-single-docker-compose  
             path: solcaeLabs
     - name: build solace 
       run: cd ./solcaeLabs/template&&docker-compose -f PubSubStandard_singleNode.yml up -d
     - name: docker ps
       run: docker ps
     - name: wait for solace
       uses: nev7n/wait_for_response@v1
       with:
             url: 'http://localhost:8080/'
             responseCode: 200
             timeout: 30000 #ms
             interval: 1000
     - name: check queue
       uses: fjogeleit/http-request-action@v1
       with:
             url: 'http://localhost:8080/SEMP/v2/config/'
             method: 'GET'
             username: 'admin'
             password: 'admin'
     - name: Show Response
       run: |
             echo ${{ steps.myRequest.outputs.response }}
