name: Test branch in docker
on: [ push ]
jobs:
  test-in-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout multi-image-test
        uses: actions/checkout@v3
      - name: Check out conf server
        uses: actions/checkout@master
        with:
             repository: hyper-egor/conf-server
             path: conf-server
      - name: Check out config file
        uses: actions/checkout@master
        with:
              repository:  hyper-egor/example-configs 
              path: conf-server/configs
      - name: echo checkout 
        run: ls&&pwd&&ls ./conf-server
      - name: build conf-server
        run: gradle build -p ./conf-server
      - name: build conf-server container
        run: gradle docker -p ./conf-server
      - name: run conf-server container
        run: gradle dockerRun -p ./conf-server
