name: Test branch in docker
on: [ push ]
jobs:
  test-in-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Prepare docker
        uses: docker/setup-buildx-action@v1
      - name: echo
        run: echo pwd
      - name: echo_ls
        run: echo ls
