name: Test branch in docker
on: [ push ]
jobs:
  test-in-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check ou config 
        uses: actions/checkout@main
        with:
              repository:  hyper-egor /example-configs 
      
      - name: echo checkout 
        run: ls
        
      - name: Check out repository code
        uses: actions/checkout@master
        with:
             repository: hyper-egor/conf-server
      - name: echo checkout 
        run: ls
      - name: build conf-server
        run: gradle build
      - name: run conf-server container
        run: docker gradle dockerRun 
      #- name: run solace container
        #run: 
